{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <section class="bgwhite p-t-66 p-b-60">
        <div class="container">
            <div class="row">

                <div class="col-md-6 p-b-30">
                    <form class="leave-comment">
                        <h4 class="m-text26 p-b-36 p-t-15">
                            Log in
                        </h4>

                        <div class="bo4 of-hidden size15 m-b-20">
                            <input  id="inputEmail"  value="{{ last_username }}" class="sizefull s-text7 p-l-22 p-r-22" type="email" name="email" placeholder="Email" required autofocus>
                        </div>

                        <div class="bo4 of-hidden size15 m-b-20">
                            <input type="password" name="password" id="inputPassword" placeholder="Password" required class="sizefull s-text7 p-l-22 p-r-22">
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <div class="w-size25">
                            <!-- Button -->
                            <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" type="submit">
                                Sign in
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</form>
{% endblock %}
